pkgbase = deskflow-git
	pkgdesc = Share one mouse and keyboard between multiple computers
	pkgver = v1.23.0.r0.g56f7a0d
	pkgrel = 1
	url = https://deskflow.org/
	arch = x86_64
	arch = x86_64_v3
	arch = aarch64
	license = GPL-2.0-only WITH LicenseRef-OpenSSL-Exception
	makedepends = cli11
	makedepends = cmake
	makedepends = git
	makedepends = gtest
	makedepends = ninja
	makedepends = python
	makedepends = qt6-tools
	makedepends = xorgproto
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libei
	depends = libglvnd
	depends = libice
	depends = libportal
	depends = libsm
	depends = libx11
	depends = libxext
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxkbfile
	depends = libxrandr
	depends = libxtst
	depends = openssl
	depends = qt6-base
	depends = qt6-svg
	depends = tomlplusplus
	source = git+https://github.com/deskflow/deskflow.git#commit=56f7a0d7b5095ca1f1fa9a3e663cc30d40e3bc54
	sha256sums = 25dd0db9ba3b7ef7b3080ceafd08317d2138ae29461ee462aa5be9bd2f16b67e
	b2sums = 941a0959005260ea156d4356368c04c46c15ce4cdc88c754a52a15d41ee13b45ac26dc8f5e93c3ae3c4c1c37cda6cd8460ddc28885b73a4bf9c0677e91ef0cc2

pkgname = deskflow-git
