pkgbase = deskflow
	pkgdesc = Share one mouse and keyboard between multiple computers
	pkgver = 1.21.2
	pkgrel = 1
	url = https://deskflow.org/
	arch = x86_64
	license = GPL-2.0-only WITH LicenseRef-OpenSSL-Exception
	makedepends = cli11
	makedepends = cmake
	makedepends = git
	makedepends = gtest
	makedepends = ninja
	makedepends = python
	makedepends = qt6-tools
	makedepends = xorgproto
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libei
	depends = libglvnd
	depends = libice
	depends = libportal
	depends = libsm
	depends = libx11
	depends = libxext
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxkbfile
	depends = libxrandr
	depends = libxtst
	depends = openssl
	depends = qt6-base
	depends = tomlplusplus
	source = git+https://github.com/deskflow/deskflow.git#tag=v1.21.2
	sha256sums = e5fe94158fbaedbe397e077d2af680a2a6fd358ae0ed79575388acba79931773
	b2sums = e5c539a4bccaf4f8635cf010e941e940a8b287d292bc31fe64d99494c73b782274d10b037b2f5e7815f08b24631dcad00618a3d3f54867c7d36adba61d1f5e3f

pkgname = deskflow
