pkgbase = deskflow
	pkgdesc = Share one mouse and keyboard between multiple computers
	pkgver = 1.17.2
	pkgrel = 1
	url = https://deskflow.org/
	arch = x86_64
	license = LicenseRef-GPL-2.0-only-WITH-OpenSSL-Exception
	makedepends = cli11
	makedepends = cmake
	makedepends = git
	makedepends = gtest
	makedepends = ninja
	makedepends = python
	makedepends = qt6-tools
	makedepends = xorgproto
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libei
	depends = libglvnd
	depends = libice
	depends = libnotify
	depends = libportal
	depends = libsm
	depends = libx11
	depends = libxext
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxkbfile
	depends = libxrandr
	depends = libxtst
	depends = openssl
	depends = pugixml
	depends = qt6-base
	depends = tomlplusplus
	source = git+https://github.com/deskflow/deskflow.git#tag=v1.17.2
	sha256sums = e6114141303027f46b37c0a813f1c0013b980bdf52fca35cb45776070c1e348e
	b2sums = d06011edd535d4b4a8a3f24030c63e9f367cfc13474f47d693eae22461e28dcc92a3b102382d0ee6af325899ea14833169894b930dbb0f3c089342fd5e09191e

pkgname = deskflow
